In [1]:
# Make plots inline
%matplotlib inline

# Make inline plots vector graphics instead of raster graphics
from IPython.display import set_matplotlib_formats
set_matplotlib_formats('pdf', 'svg')

# import modules for plotting and data analysis
import matplotlib.pyplot # as plt
import numpy as np
import pandas as pd
from ggplot import aes
from ggplot import geom_histogram
from ggplot import geom_bar

## Load the data

In [2]:
hurricane_data = pd.read_csv("combined_hurricane_data.csv", index_col=False)

In [3]:
hurricane_data.shape

(75242, 26)

In [4]:
hurricane_data.columns

Index(['basin', 'name', 'year', 'cyclone_of_the_year', 'num_of_track_entries',
       'date', 'time', 'record_identifier', 'status_of_system', 'latitude',
       'longitude', 'max_sustained_wind', 'central_pressure', '34kt_NE',
       '34kt_SE', '34kt_SW', '34kt_NW', '50kt_NE', '50kt_SE', '50kt_SW',
       '50kt_NW', '64kt_NE', '64kt_SE', '64kt_SW', '64kt_NW', 'ocean'],
      dtype='object')

In [5]:
hurricane_data.head(n=3)

,basin,name,year,cyclone_of_the_year,num_of_track_entries,date,time,record_identifier,status_of_system,latitude,...,34kt_NW,50kt_NE,50kt_SE,50kt_SW,50kt_NW,64kt_NE,64kt_SE,64kt_SW,64kt_NW,ocean
0,AL,UNNAMED,1851,1,14,18510625,0,NaN,HU,28.0N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,atlantic
1,AL,UNNAMED,1851,1,14,18510625,600,NaN,HU,28.0N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,atlantic
2,AL,UNNAMED,1851,1,14,18510625,1200,NaN,HU,28.0N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,atlantic

In [6]:
hurricane_data.tail(n=4)

,basin,name,year,cyclone_of_the_year,num_of_track_entries,date,time,record_identifier,status_of_system,latitude,...,34kt_NW,50kt_NE,50kt_SE,50kt_SW,50kt_NW,64kt_NE,64kt_SE,64kt_SW,64kt_NW,ocean
75238,EP,SANDRA,2015,22,25,20151128,1800,NaN,LO,22.4N,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,pacific
75239,EP,SANDRA,2015,22,25,20151129,0,NaN,LO,23.1N,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,pacific
75240,EP,SANDRA,2015,22,25,20151129,600,NaN,LO,23.5N,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,pacific
75241,EP,SANDRA,2015,22,25,20151129,1200,NaN,LO,24.2N,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,pacific

In [7]:
hurricane_data.date.head()

0    18510625
1    18510625
2    18510625
3    18510625
4    18510625
Name: date, dtype: int64

In [ ]:
formatted_data = (
    hurricane_data.time
        .astype('str')
        .replace({  '0': '0000',
                  '600': '0600'})
        .apply(lambda x: x[0:2])) # extract just the hours from military time
hurricane_data.assign(time = pd.to_datetime(formatted_data, format="%H"))

In [ ]:
# pd.to_datetime(
#     hurricane_data.date, 
#     format="%Y%m%d").tail()

# (hurricane_data.time
#     .apply(str)
#     .replace({'time': {0: "0000"}})
#     .apply(lambda x: pd.to_datetime(x[0:2], format="%H")))
    
# hurricane_data.time.replace(
#     {'time': {0: "0000"}}
# ).head()